<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="IdssApp" ng-cloak>

<md-content ng-controller="FrontController as front">

     <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
           <i class="material-icons">menu</i>
        </md-button>

        <h2> IDSS Food Recommendation System</h2>

        <span flex></span>
        <md-button class="md-raised" aria-label="Calculate Recommendation" ng-click="getSuggestions()">
          Get Suggestions
        </md-button>

      </div>
    </md-toolbar>

    <md-tabs md-border-bottom>
        <md-tab label="Recommendation">
            <md-content class="md-padding" layout="row" layout-xs="column" style="height:100%;">

                <div class="ingredient-column" flex-xs flex-gt-xs="33" layout="column">
                <recipe recipe="recommend.suggestions.starter[0]" suggestion="true" header="starter"></recipe>
                </div>

                <div class="ingredient-column" flex-xs flex-gt-xs="33" layout="column">
                <recipe recipe="recommend.suggestions.main[0]" suggestion="true" header="main"></recipe>
                </div>


                <div class="ingredient-column" flex-xs flex-gt-xs="33" layout="column">
                <recipe recipe="recommend.suggestions.dessert[0]" suggestion="true" header="dessert"></recipe>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Recipes">
            <md-content class="md-padding">
                <!-- Liked Recipes -->
                <recipe-search recipe-selected="addRecipe(recipe)"></recipe-search>

                <div class="recipe-list">
                    <recipe ng-repeat="recipe in recommend.selected" recipe="recipe" suggestion="false"></recipe>
                </div>


            </md-content>
        </md-tab>
        <md-tab label="Ingredients">

            <md-content class="md-padding" layout-xs="column" layout="row">
                <div class="ingredient-column" flex-xs flex-gt-xs="50" layout="column">

                    <md-input-container>
                        <label>Ingredient</label>
                        <input type="text" ng-model="ingredientFilter">
                    </md-input-container>

                    <md-virtual-repeat-container class="ingredients-container"
                                                 style="height: calc(100% - 176px); width: 100%;">
                        <div md-virtual-repeat="ingredient in recommend.ingredients | filter : ingredientFilter : false"
                             class="ingredient-line" md-item-size="20" ng-click="toggleIngredient(ingredient)" flex>
                            <md-button class="md-icon-button"
                                       ng-class="{'md-accent': ingredient.include === '-', 'md-primary': ingredient.include === '+'}" >
                                <i class="material-icons" ng-show="!ingredient.include">check_box_outline_blank</i>
                                <i class="material-icons"
                                   ng-show="ingredient.include === '-'">indeterminate_check_box</i>
                                <i class="material-icons" ng-show="ingredient.include === '+'">check_box</i>
                            </md-button>
                            {{ingredient.name}}
                        </div>
                    </md-virtual-repeat-container>
                </div>

                <div class="ingredients-column" flex-xs flex-gt-xs="50" layout="column" style="padding-left:60px;">

                    <h4>Nutritional Facts</h4>

                    <div ng-repeat="fact in recommend.facts" ng-click="toggleIngredient(fact)"
                             class="ingredient-line" md-item-size="20" flex>
                            <md-button class="md-icon-button"
                                       ng-class="{'md-accent': fact.include === '-', 'md-primary': fact.include === '+'}"
                                       >
                                <i class="material-icons" ng-show="!fact.include">check_box_outline_blank</i>
                                <i class="material-icons" ng-show="fact.include === '-'">indeterminate_check_box</i>
                                <i class="material-icons" ng-show="fact.include === '+'">check_box</i>
                            </md-button>
                            {{fact.name}}
                        </div>

                    <!--
                    <md-input-container>
                        <label>Facts and Labels</label>
                        <input type="text" ng-model="factsFilter">
                    </md-input-container>

                    <md-virtual-repeat-container class="ingredients-container"
                                                 style="height: calc(100% - 176px); width: 100%;">
                        <div md-virtual-repeat="fact in recommend.facts | filter : factsFilter : false"
                             class="ingredient-line" md-item-size="20" flex>
                            <md-button class="md-icon-button"
                                       ng-class="{'md-accent': fact.include === '-', 'md-primary': fact.include === '+'}"
                                       ng-click="toggleIngredient(fact)">
                                <i class="material-icons" ng-show="!fact.include">check_box_outline_blank</i>
                                <i class="material-icons" ng-show="fact.include === '-'">indeterminate_check_box</i>
                                <i class="material-icons" ng-show="fact.include === '+'">check_box</i>
                            </md-button>
                            {{fact.name}}
                        </div>
                    </md-virtual-repeat-container>

                    -->
                </div>

            </md-content>
        </md-tab>

         <md-button class="md-raised" aria-label="Learn More">
          Learn More
        </md-button>
    </md-tabs>
</md-content>


<!-- Auxiliars -->


<!-- Angular Material requires Angular.js Libraries -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/angular-messages//angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="/bower_components/angular-material/angular-material.min.js"></script>

<!-- App  -->
<script type="text/javascript" src="/index.js"></script>
<script type="text/javascript" src="/components/recipeSearch.js"></script>
<script type="text/javascript" src="/components/recipe.js"></script>

</body>
</html>
