
.recommend-title {
    cursor:pointer;
    text-decoration: none;
    color: #006482;
    font-size: 16px;
}

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
}

.autocomplete-custom-template .item-title {
    line-height: 2.0;
}

.autocomplete-custom-template .item-metadata {
    line-height: 1.5;
}

.autocomplete-custom-template .item-title .icon {
    height: 48px;
    float: left;
    width: 48px;
    margin-right: 12px;
}

.ingredients-column {
    padding: 10px;
}

md-tabs {
    height: calc(100% - 64px);
}

.ingredients-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    border: solid 1px #ccc;
    padding: 10px;
}

.recipe-list {
    width: 100%;
}

recipe-search {
    max-width: 500px;
}

.recipe-list recipe md-card {
    float: left;
    width: calc(50% - 16px);
}

@media all and (min-width: 1024px) {
    .recipe-list recipe md-card {
        width: calc(33.33% - 16px);
    }
}

md-card-header md-card-header-text .md-title.big{
    line-height: 43px;
    font-size: 22px;
}

md-card-header img {
    filter: brightness(100);
}

md-card-header.starter-header {
    background-color: forestgreen;
    color:white;
}
md-card-header.main-header {
    background-color: darkslateblue;
    color:white;
}
md-card-header.dessert-header {
    background-color: orangered;
    color:white;
}